* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    width: 100%;
    height: 100vh;
    background-color: lightyellow;
    position: relative;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 20px;
    box-shadow: 2px 2px 2px 2px;
    border-radius: 30px;
    width: 100vw;
}

header ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
}

header ul li {
    margin: 20px;
}

header .menu-container li a {
    text-decoration: none;
}

header .menu-container {
    display: flex;
    justify-content: start;
    align-items: center;
    overflow: hidden;
    color: white;
}

input {
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: lightblue;
    font-size: 15px;
    width: auto;
    min-width: 50px;
}

input::placeholder {
    font-weight: 600;
}

.menu {
    display: none;
}

@media screen and (max-width: 600px) {

    .menu {
        display: inline-block;
        cursor: pointer;
        font-size: 2rem;
    }

    header .menu-container {
        display: flex;
        justify-content: center;
        align-items: start;
        background-color: red;
        width: 0rem;
        overflow: hidden;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        transition: 0.5s;
    }

    .menu-container ul {
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        width: 100%;
    }

    header .menu-container li a {
        color: white;

    }

    .menu1 {
        position: relative;
        top: 0;
        left: 30px;
        margin-right: 20px;
    }

    .crossmenu {
        position: absolute;
        top: 20px;
        right: 20px;
    }
}
